.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    box-shadow: 2px 2px 50px rgb(191, 189, 189);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2 {
        padding: 2rem;
    }

}
.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    img {
        width: 30%;
    }
    &:hover {
        background: rgb(243, 182, 182);
    }
}

.song-description {
    padding-left: 1rem;
    h3 {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 0.8rem;
    }
}

.selected {
    background: rgb(230, 198, 241);
}
.active-library {
    transform: translateX(0%);
    opacity: 1;
}